.order {
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding-top: 200px;
}

.order__c {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    gap: 20px;
}

.order__c-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;

}

.order__c-form-head {
    text-transform: uppercase;
    font-family: Euclid Circular A;
    font-size: 60px;
    font-weight: 500;
    line-height: 76.08px;
    text-align: left;
    margin-bottom: 40px;
}

.order__c-form-submit,
.order__c-submit {
    width: fit-content;
}

.order__c-submit {
    display: none;
}

.order__c-basket {
    background-color: rgba(51, 32, 101, 0.18);
    backdrop-filter: blur(8px);
    border-radius: 30px;
    box-sizing: border-box;
    padding: 40px;
}

.order__c-basket-head {
    text-transform: uppercase;
    font-family: Euclid Circular A;
    font-size: 15px;
    font-weight: 500;
    line-height: 19.02px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-bottom: 50px;

}

.order__c-basket-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order__summ {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order__summ-head {
    text-transform: uppercase;
    font-family: Euclid Circular A;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.36px;
    text-align: left;

}

.order__summ-body {
    width: fit-content;
}

@media screen and (max-width:980px) {
    .order {
        padding-top: 100px;
    }

    .order__c {
        grid-template-columns: 1fr;
        gap: 40px;

    }

    .order__c-basket {
        background-color: transparent;
    }

    .order__c-form-submit {
        display: none;
    }

    .order__c-submit {
        display: block;
    }

    .order__summ {
        display: none;
    }

    .order__c-form-head {
        font-size: 15px;
        line-height: 19.02px;

    }

    .order__c-basket {
        padding: 15px;
    }

}