.thx {
    padding-top: 150px;
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}


.thx__c {

    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 100%;
    width: 100%;

}

.thx__c-text {
    margin-top: 100px;
    font-family: Euclid Circular A;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.82px;
    letter-spacing: 0.1em;
    text-align: center;

}

.thx__c-img-main {

    height: calc(100vh - 300px);
    object-fit: contain;
    object-position: center;
    position: relative;
    z-index: 5;
}

.thx__c-img {
    bottom: 10%;
    position: absolute;
    width: 150px;
    height: 200px;
    object-fit: contain;

}

.thx__c-img:nth-child(even) {
    bottom: 20%;
}


.thx__marquee-wrp {
    position: absolute;
    top: 50%;
    left: 0;
    overflow: hidden;
    width: 100%;
    z-index: -1;
}

.thx__marquee {}


.thx__marquee-el {

    display: flex;
    gap: 10vw;
}


.thx__marquee-text {
    font-family: Floreste;
    font-size: 212px;
    font-weight: 400;
    line-height: 201.4px;
    text-align: center;
    color: rgba(203, 182, 255, 0.6);
    white-space: nowrap;
    text-transform: uppercase;

}

@media screen and (max-width: 700px) {
    .thx {
        padding-top: 100px;
    }

    .thx__c {
        flex-direction: column;
    }

    .thx__c-text:last-of-type {
        display: none;
    }

    .thx__marquee-wrp {
        top: 25%;
    }

    .thx__marquee-text {
        font-family: Floreste;
        font-size: 110px;
        font-weight: 400;
        line-height: 104.5px;
        text-align: center;

    }
.thx__c-img{
    display: none;
}
}