.card-row__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(274px, 350px));
    grid-auto-rows: auto;
    gap:40px 15px ;
    justify-content: space-between;
}

.card-row {
    position: relative;

}

.card-row__color {
    position: absolute;
    border-radius: 50%;
    border: 1px solid white;
    width: 20px;
    height: 20px;

}

.card-row__color_blue {
    background-color: var(--col-blue);
}

.card-row__img {
    width: 100%;
    height: 260px;
}

.card-row__img img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

.card-row__info {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.card-row__info-name {
    font-family: Euclid Circular A;
    font-size: 28px;
    font-weight: 500;
    line-height: 35.5px;
    text-align: center;
    text-transform: uppercase;

}

.card-row__info-category {
    font-family: Euclid Circular A;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;

}

.card-row__info-line {
    width: 100%;
    background-color: var(--col-lime);
    border: none;
    height: 2px;
}

.card-row__info-bottom {
    display: flex;
    justify-content: space-between;
}

.card-row__info-price {
    font-family: Floreste;
    font-size: 28px;
    font-weight: 400;
    line-height: 26.6px;
    letter-spacing: 0.04em;
    text-align: center;

}

.card-row__info-price::after {
    margin-left: 10px;
    content: '₽';
    font-family: Euclid Circular A;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.36px;
    text-align: center;

}

.card-row__info-buy {
    display: flex;
    gap: 5px;
    font-family: Euclid Circular A;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--col-white);
    cursor: pointer;
}

.card-row-not__found {
    grid-column: 1 / span 4;
}

.card-row__not-found-txt {
    font-family: Floreste;
    font-size: 212px;
    font-weight: 400;
    line-height: 201.4px;
    text-align: center;
    color: var(--col-purple);
    opacity: 0.4;
    text-transform: uppercase;
}


@media screen and (max-width: 1280px) {
    .card-row__list {
        grid-template-columns: repeat(3, minmax(274px, 350px));

    }

    .card-row-not__found {
        grid-column: 1 / span 3;
    }
}

@media screen and (max-width: 970px) {
    .card-row__list {
        grid-template-columns: repeat(2, minmax(274px, 350px));

    }

    .card-row-not__found {
        grid-column: 1 / span 2;
    }
    .card-row__not-found-txt {
        font-size: 100px;
        line-height: 95px;
    }
    
}
@media screen and (max-width: 650px) {
    .card-row__list {
        grid-template-columns: repeat(1, minmax(274px, 1fr));

    }

    .card-row-not__found {
        grid-column: 1 ;
    }
    .card-row__not-found-txt {
        font-size: 70px;
        line-height: 65px;
    }
}