.card-column {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 10px 40px;
}

.card-column__img {
    grid-row: 1 / span 4;
    max-height: 140px;
    max-width: 90px;
    object-fit: contain;
}

.card-column__name {

    display: flex;
    gap: 10px;
    align-items: center;

}

.card-column__name-col {
    width: 17px;
    height: 17px;
    border: 2px solid var(--col-white);
    border-radius: 50%;
    background-color: var(--col-blue);
}

.card-column__name-data {
    font-family: Euclid Circular A;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.36px;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-column__basket {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    grid-row: 1 / span 2;
    grid-column: 3;
    justify-self: flex-end;

}

.card-column__category {
    grid-row: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Euclid Circular A;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

}

.card-column__line {
    width: 100%;
    height: 2px;
    color: var(--col-lime);
    grid-column: 2 / span 2;
    background-color: var(--col-lime);
    border: none;
}

.card-column__price {
    font-family: Floreste;
    font-size: 28px;
    font-weight: 400;
    line-height: 26.6px;
    letter-spacing: 0.04em;
    text-align: left;

}

.card-column__price::after {
    content: '₽';
    font-family: Euclid Circular A;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.36px;
    text-align: left;
    margin-left: 5px;
}

.card-column__counter {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card-column__counter-plus,
.card-column__counter-minus {
    width: 45px;
    height: 45px;
    border: 1px solid var(--col-white);
    border-radius: 50%;

    font-family: Euclid Circular A;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.82px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.219);
    color: var(--col-white);
    cursor: pointer;

}

.card-column__counter-plus:disabled,
.card-column__counter-minus:disabled {
    opacity: .7;
    cursor: default;
}



.card-column__counter-count {
    font-family: Euclid Circular A;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;

}

.card-column__liked {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--col-pink);
    border-radius: 50%;
    grid-row: 1 / span 2;
    grid-column: 3;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.19);
    margin-left: auto;

}

@media screen and (max-width: 500px) {


    .card-column__img {
        max-width: 65px;
        max-height: 120px;
    }

    .card-column {
        gap: 10px 5px
    }

    .card-column__name-data {
        font-size: 15px;
        line-height: 19.02px;

    }

    .card-column__price {
        font-size: 25px;
        line-height: 23.75px;

    }

    .card-column__counter {
        gap: 5px;
    }

    .card-column__counter-plus,
    .card-column__counter-minus {
        width: 30px;
        height: 30px;
    }


}