.input-line {
    background-color: transparent;
    border: 0.125rem solid transparent;
    border-bottom-color: var(--col-lime);
    padding-bottom: 0.9375rem;
    color: var(--col-white);

    font-family: Euclid Circular A;
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.188rem;
    text-align: left;
}

.input-line::placeholder {
    font-family: Euclid Circular A;
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.188rem;
    text-align: left;
    text-transform: uppercase;
    color: var(--col-white);
}

.input-line:focus {
    outline: none;
}
