.modal {
    position: fixed;
    top: 100px;
    right: -100%;
    transition: all .5s;
    background-color: rgba(51, 32, 101, 0.18);
    backdrop-filter: blur(8px);
    border-radius: 30px;
    padding: 38px;
    box-sizing: border-box;
    z-index: 20;
    min-width: 600px;
    transform: translateX(100%);
}


.modal_opened {
    right: 3vw;
    transform: translateX(0);

}

.modal__c {
    position: relative;
}

.modal__c-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

}

.modal__c-close:hover {
    opacity: 0.5;
}

.modal__c-name {
    font-family: Euclid Circular A;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.82px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 53px;

}

.modal__c-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}





.modal__c-summ {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

}

.modal__c-summ-head {
    font-family: Euclid Circular A;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.36px;
    text-align: left;

}

.modal__c-summ-price {
    font-family: Floreste;
    font-size: 40px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.04em;
    text-align: left;

}

.modal__c-summ-price::after {
    content: '₽';
    font-family: Euclid Circular A;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.36px;
    text-align: left;
    margin-left: 5px;
}



.modal__c-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
}

/*
 sign
 */

.modal__c-sign {
    font-family: Euclid Circular A;
    font-size: 15px;
    font-weight: 500;
    line-height: 19.02px;
    letter-spacing: 0.1em;
    text-align: left;
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--col-white);
    cursor: pointer;

}

.modal__c-sign_up::before {
    content: '←';
}



.modal__c-sign_in::after {
    content: '→';
}

.modal_c-submit {
    width: fit-content;
}

/*
 sign
 */
/* 
contacts
*/
.modal-contacts {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
}

.modal-contacts.modal_opened {
    top: 0;
    right: 0;
    margin: 0 !important;
}

.modal__c_contacts {
    width: 100%;
    height: 100%;


}

.modal__c-scroll {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
}

.modal__c_contacts .modal__c-close {
    right: 2%;
    top: 2%;
}

.modal__c-contacts-info {
    background-color: var(--col-purple-dark);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 30px 0 0 0;
}

.modal__c-contacts-cell {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;

}

.modal__c-contacts-cell-head {
    font-family: Euclid Circular A;
    font-size: 15px;
    font-weight: 500;
    line-height: 19.02px;
    text-align: left;
    color: var(--col-white);
    opacity: 0.5;
}

.modal__c-contacts-cell-city {
    font-family: Euclid Circular A;
    font-size: 60px;
    font-weight: 500;
    line-height: 76.08px;
    text-align: left;


}

.modal__c-contacts-cell-body {
    font-family: Euclid Circular A;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.82px;
    text-align: left;
    margin-top: auto;

}

.modal__c-contacts-cell-head_phone {
    font-family: Floreste;
    font-size: 35px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.04em;
    text-align: left;

    color: var(--col-white);
    cursor: pointer;

}

.modal__c-contacts-cell_soocial {
    flex-direction: row;
    align-items: end;
    justify-content: flex-start;
    gap: 20px;
}

.modal__c-contacts-cell-social {
    width: 40px;
    height: 40px;
    background-image: url(../../assets/ui/tg.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.modal__c-form_contacts {
    background-color: var(--col-pink);
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 0 30px 0 0;
}



.modal__c-contacts-map {
    grid-column: 1 / span 2;
    width: 100%;
    background-color: green;
    border-radius: 0 0 30px 30px;

}

/* 
contacts
*/

/* 
item
*/
.modal-item {
    width: 100vw;
    height: 100vh;
    background-color: var(--col-purple-dark);
    padding: 70px;
    box-sizing: border-box;
    z-index: 30;
    border-radius: 0;

}

.modal-item.modal_opened {
    right: 0;
    top: 0;
    margin: 0;
}

.modal-item .modal-close {
    align-items: center;
    color: var(--col-white);
    display: flex;
    gap: 17px;
    text-transform: uppercase;
    font-family: Euclid Circular A;
    font-size: 1rem;
    font-weight: 500;
    line-height: 22.82px;
    letter-spacing: 0.1em;
    text-align: left;
    opacity: 0.7;

}

.modal__c-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    height: 100%;
    padding-top: 45px;
    box-sizing: border-box;

}

.modal__c-item-top {
    display: grid;
    grid-template-columns: 20% 40% 20%;
    grid-template-rows: 1fr .9fr 1fr;
    grid-template-areas:
        'art img like'
        'color img height'
        '. img .';
    justify-content: space-between;
    height: calc(100% - 45px);
    gap:  30px 0;
}

.modal__c-item-name {
    position: absolute;
    font-family: Floreste;
    font-size: clamp(71px, 15vw, 354px);
    font-weight: 400;
    line-height: 336.3px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--col-purple);
    opacity: 0.4;
    z-index: 1;
    /* white-space: nowrap; */
    width: 100%;
}

.modal__c-item-top-art {
    margin-top: 61px;
    position: relative;
    z-index: 2;
    grid-area: art;
    font-family: Euclid Circular A;
    font-size: 15px;
    font-weight: 500;
    line-height: 19.02px;
    text-align: left;
    text-transform: uppercase;
}

.modal__c-item-top-col {
    position: relative;
    z-index: 2;
    grid-area: color;
    font-family: Euclid Circular A;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.82px;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;

}


.modal__c-item-top-col-self {
    margin: 0 .5rem 0 1rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--col-white);
    border-radius: 50%;
    display: block;
}

.modal__c-item-top-col-self_pur {
    background-color: var(--col-purple);
}

.modal__c-item-top-img {
    grid-area: img;
    position: relative;
    z-index: 2;
    height: 100%;
    object-fit: contain;
    justify-self: center;

}

.modal__c-item-top-like {
    margin-top: 61px;
    grid-area: like;
    position: relative;
    z-index: 2;
    border-radius: 50%;
    border: 1px solid var(--col-lime);
    background-color: var(--col-purple);
    width: 80px;
    height: 80px;
    justify-self: flex-end;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal__c-item-top-height {
    grid-area: height;
    position: relative;
    z-index: 2;
    font-family: Euclid Circular A;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.82px;
    letter-spacing: 0.1em;
    text-align: right;
    display: flex;
    gap: 0 10px;
    flex-wrap: wrap;
    align-self: flex-start;
    justify-self: self-end;
}

.modal__c-item-bottom {
    display: grid;
    grid-template-columns: 350px auto min-content;
    gap: 1rem;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.modal__c-item-bottom-desc {
    font-family: Euclid Circular A;
    font-size: 20px;
    font-weight: 500;
    line-height: 30.8px;
    text-align: left;

}

.modal__c-item-bottom-name {
    font-family: Floreste;
    font-size: 100px;
    font-weight: 400;
    line-height: 95px;
    text-align: left;

}

.modal__c-item-bottom-price {
    font-family: Floreste;
    font-size: 40px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--col-lime);
}

.modal__c-item-bottom-price::after {
    content: '₽';
    font-family: Euclid Circular A;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.36px;
    text-align: center;

}

.modal__c-item-bottom-buy {
    height: fit-content;
    width: fit-content;
    justify-self: flex-end;
}

.modal__c-item-bottom-name_ss {
    display: none;
}

.modal__c-item-bottom-name_fs {
    display: block;
}

/* 
item
*/

/* search */

.modal-search.modal_opened {
    top: 0;
    right: 0;
    margin: 0 !important;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    padding: 15px;

}

.modal-search .modal__c {
    padding: 70px ;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;
    overflow: hidden;
 
}

/* search */

@media screen and (max-width: 1300px) {
    .modal__c-item {
        gap: 40px;
    }

    .modal__c-contacts-cell-head_phone {
        font-size: 25px;
        line-height: 22px;
    }

    .modal__c-contacts-cell-city {
        font-size: 40px;
        line-height: 38px;
    }

    .modal__c-item-bottom-name {
        font-size: 70px;
        line-height: 65px;
    }

}

@media screen and (max-width: 860px) {
    .modal-search .modal__c {
        padding: 70px 15px 15px ;
       
     
    }
    .modal-item {
        padding: 30px;
    }

    .modal_opened {
        top: 0;
        right: 0;
        margin: 15px;
        min-width: calc(100% - 40px);
    }

    .modal__c-scroll {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 440px);
        overflow-y: auto;
    }

    .modal__c-scroll::-webkit-scrollbar {
        width: 10px;
    }

    .modal__c-contacts-map {
        grid-column: 1;
    }

    .modal__c-contacts-info {
        border-radius: 30px 30px 0 0;
        padding: 38px 17px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .modal__c-contacts-cell-body {
        margin: 0;
    }

    .modal__c-contacts-cell {
        gap: 5px;
        justify-content: start;
    }

    .modal__c-form_contacts {
        border-radius: 0;
        padding: 38px 17px;
    }

    .modal__c-scroll .modal-close {
        right: 4%;
    }

    .modal__c-contacts-cell-map {
        display: none;
    }

    .modal__c-name {
        font-size: 15px;
        line-height: 19.02px;

    }

    .modal__c-summ-price {
        font-size: 25px;
        line-height: 23.75px;

    }

    .modal__c-item-bottom-name_ss {
        display: block;
    }

    .modal__c-item-bottom-name_fs {
        display: none;
    }

    .modal__c-item {
        grid-template-rows: 60% 40%;
    }

    .modal__c-item-bottom {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, min-content);
        height: 100%;
    }




    .modal__c-item-bottom-desc {
        grid-column: 1 / span 2;
        max-width: 70%;

        font-size: 18px;
        line-height: 25px;

    }

    .modal__c-item-bottom-info {
        align-self: center;
    }

    .modal__c-item-bottom-price {
        text-align: left;

    }

    .modal__c-item-bottom-name {
        grid-column: 1 / span 2;
    }

    .modal__c-item-bottom-buy {
        grid-column: 2;
        grid-row: 3;
    }

}

@media screen and (max-width: 550px) {
    .modal__c-item-top-like {
        width: 50px;
        height: 50px;
    }

    .modal__c-item-top {
        grid-template-columns: 20% 60% 20%;
        grid-template-areas:
            'art img like'
            '. img .'
            'height img color';

    }

    .modal__c-item-top-col p:first-of-type {
        display: none;
    }

    .modal__c-item-top-col {
        justify-content: flex-end;
        font-size: 12px;
        gap: 10px;
        line-height: 15.22px;
    }

    .modal__c-item-top-height {
        font-size: 12px;
        line-height: 15.22px;
    }

    .modal__c-item-top-art {
        font-size: 12px;
        line-height: 15.22px;
        margin-top: 0;

    }

    .modal__c-item-top-like {
        margin-top: 0;
    }

    .modal__c-item-top-img {
        width: 100%;
    }

    .modal__c-item-bottom-name {
        font-size: 23px;
        line-height: 29.16px;
    }

    .modal__c-item-bottom-desc {
        font-size: 13px;
        line-height: 20px;
    }

    .modal__c-item-bottom-price {
        font-size: 30px;
        line-height: 28.5px;

    }

    .modal__c-item-name {
top: 30%;
        line-height: 67.45px;
    }

    .modal-item .modal-close {
        font-size: 12px;
        line-height: 15.22px;

    }

}

@media screen and (max-width: 400px) {
    .modal__c-summ {
        flex-direction: column;
    }

    .modal__c-summ-btn {
        width: fit-content;
        margin-left: auto;
    }
}